body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    background-color: #141414;
    font-family: 'Inter', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    color: #ffffff;

}

main {
    flex: 1;
    padding-top: 5em;
}

h1 {
    font-size: 2em;
    font-weight: 700;
}

p {
    font-size: 1em;
    line-height: 1.5;
    margin-top: 0;
    
}
.card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    height: auto;
    gap: 1em;
    padding: 3em 2em;
    background-color: #1f1f1f;
    border-radius: 20px;
}

.profile-pic {
    border-radius: 50%;
    aspect-ratio: 1/1;
    max-width: 8rem;
    height: auto;
    object-fit: cover;
}

.button-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction:column;
    gap: 1em;
    width: 100%;

}

/* removed button and replaced with the below css */
.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    text-decoration: none;
    border: none;
    height: 3rem;
    font-size: 1em;
    font-weight: 600;
    border-radius: 10px;
    transition: background-color 0.2s ease;
}

.social-link:hover,
.social-link:focus-visible {
    background-color: #c5f82a; 
    color:#141414
}



.location-accent {
    color: #c5f82a; 
    font-weight: 600; 
    padding-bottom: 1em; 
}

/* moved from index.html to style.css for better organization */
.attribution { 
    font-size: 0.6875rem; 
    text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}

.attribution a:hover,
.attribution a:focus {
    color:#c5f82a;
}

footer {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    width: 100%;
    margin-top: auto;
}

/* colors used in the project 
- Green: #c5f82a
- White: #ffffff
- Grey 700: #333333
- Grey 800: #1f1f1f
- Grey 900: #141414 
*/