body {
    background-color: #141414;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center; 

}

h1 {
    font-size: 2em;
    font-weight: 700;
}

p {
    font-size: 1em;
    line-height: 1.5;
    
}
/* moved from index.html to style.css for better organization */
.attribution { 
    font-size: 0.6875rem; 
    text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}



/* colors used in the project 
- Green: #c5f82a

- White: #ffffff

- Grey 700: #333333
- Grey 800: #1f1f1f
- Grey 900: #141414 */

